body {
	color: #fff;
	font-family: "Dosis", sans-serif;
}

.centered {
	text-align: center;
}

/* and we can have rules that overlap other rules, both take effect */
h1 {
	letter-spacing: 2px;
	word-spacing: 5px;
	font-size: 200%;
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
	margin: 10px;
	padding: 10px;
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
	padding: 10px;
	margin-bottom: 10px;
}
