/*
css spin from https://jsfiddle.net/gionaf/Ugc5g/'
rainbow from https://codepen.io/nohoid/pen/eYXpNL
*/
.minor-section {
	padding: 10px;
	margin-bottom: 10px;
	border: solid 1px #888;
	background-color: #ddd8c4;
	color: #000;
}

.output {
	width: 100%;
}

.self {
	display: flex;
	flex-direction: row-reverse;
	background-color: rgb(100, 150, 200);
	border-radius: 20px;
	width: fit-content;
	margin: 20px 0;
	margin-left: auto;
	padding: 0 10px;
}

.other {
	display: flex;
	flex-direction: row;
	background-color: #b6b6b6;
	border-radius: 20px;
	width: fit-content;
	padding: 0 10px;
	margin-right: auto;
}
